useDynLib(survIDINRI)
export(IDI.INF, IDI.INF.OUT, IDI.INF.GRAPH)
import(survC1)
import(survival)
importFrom(graphics, abline, lines, points, polygon, title)
importFrom(stats, approx, quantile, rexp)
